
.App {
    text-align: center;
    background: hsla(216, 51%, 16%, 1);
    padding: 1.7rem 1.5rem;
    height: 543px;
    margin: 0 1.3rem;
    margin-top: 100px;
    border-radius: 10px;
}

.App-header {
    width: 278px;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: left;
}

.App-header a {
    text-decoration: none;
    font-size: 22px;
    color:hsla(0, 0%, 100%, 1);
    font-weight: 600;
}

.App-header a:hover {
    color: hsla(178, 100%, 50%, 1);
}

.App-header p {
  font-size: 18px;
  line-height: 26px;
  color: hsla(215, 51%, 70%, 1);
  padding: 1rem 0;
  font-weight: 300;
  font-style: normal
}


img {
  width: 278px;
  margin-bottom: 1rem;
  border-radius: 10px;
}

img:hover {
    background-color: hsla(178, 100%, 50%, 1);
}