
.App {
    text-align: center;
    background: hsla(216, 51%, 16%, 1);
    padding: 1.7rem 1.5rem;
    height: 543px;
    margin: 0 1.3rem;
    margin-top: 100px;
    border-radius: 8px;
}

.App-header {
    width: 278px;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: left;
}

.App-header a {
    text-decoration: none;
    font-size: 22px;
    color:hsla(0, 0%, 100%, 1);
    font-weight: 600;
}

.App-header a:hover {
    color: hsla(178, 100%, 50%, 1);
}

.App-header p {
  font-size: 18px;
  line-height: 26px;
  color: hsla(215, 51%, 70%, 1);
  padding: 0.8rem 0;
  font-weight: 300;
  font-style: normal
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}


.main-image {
  width: 278px;
  margin-bottom: 1rem;
  border-radius: 8px;
  opacity: 1;

}

.image-hover {
    background: hsla(178, 100%, 50%, 0.5);
    width: 278px;
    height: 278px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 37.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 8px;
    
}

.icon-view {
    position: absolute;
    top: 38%;
    left: 40%;
}

.hero-image:hover .image-hover {
    opacity: 0.3;
}

.hero-image:hover .image-hover {
    opacity: 1;
}

@media screen and (max-width: 1440px){
    .App {
        width: 345px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 100px;

    }
}

